@import "tailwindcss";

body{
  font-family: 'Inter', sans-serif;
  font-size: 11.14px;
  display: flex;
  flex-direction: column;
  align-items: center
}
h1{
  @apply font-semibold text-[#4D4D4D]  ;
}
.navbar{
  @apply  h-[100%] flex items-center justify-center;
}
.btn{
  @apply  bg-[#4CAF4F] rounded-[2.78px] text-[11.14px] font-bold text-white
}
.card{
  @apply w-[208.12px] flex flex-col items-center justify-center shadow-[2.78px] rounded-[5.57px] shadow-[#ABBED1];
}
.footerLi{
 @apply text-[#fff] text-[9.74px];
}
@media (max-width: 480px) {
  p{
    font-size: 4.67px;
  }
  h1{
    font-size: 12.02px;
  }
  img{
    
  }
} 